<div class="jumbotron" data-controller="hello">
  <label for="">Company Search:</label>
  <input type="text" data-action="keyup->hello#search" data-target="hello.input">

  <div data-target="hello.output">

  </div>
</div>
